@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6200EE;
  --color-secondary: #03DAC6;
  --color-bg-grey: #F5F5F5;
  --color-text-dark: #212121;
  --color-accent: #FF5722;
  --color-text-light: #FFFFFF;
  --color-text-grey: #757575;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-dark);
  background: var(--color-bg-grey);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

